extends base/base

block content

    main#main

        include partials/_page-banner

        include partials/_login-form

        include partials/_content

        include partials/_cards

        include partials/_pagination