body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 64px;
}

.site-wrap {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.card-row {
    margin: 20px 0;
}

.dark-container {
    background: #ddd;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 20px;
}

.light-container {
    background: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 20px;
    color: black;
}


/* Page Banner */

.page {
    &-banner {
        padding: 50px 0;
        background: #09f;
        color: white;
        margin-bottom: 50px;
    }
    &-title {
        font-size: 56px;
        font-weight: 400;
    }
    &-intro {
        max-width: 600px;
    }
}

@import "partials/header",
"partials/footer",
"partials/form-elements"