section.container
    .row.card-row
        .col-12
            .card-deck

                - for(x = 0; x < 3; x++){
                    .card
                        img(src="", alt="Image").card-img-top
                        .card-block
                            h4.card-title Title
                            p.card-text Veel tekst
                        .card-footer
                            small.text-muted Uploaded : 18-12-1991
                - }