

section.container
    .row
        .col-12.col-sm-10.col-md-8.col-lg-6.offset-sm-1.offset-md-2.offset-lg-3
            form.login-form(action="#").well.light-container

                .alert.alert-warning.alert-dismissable.fade.show(role="alert")
                    button(type="button" data-dismiss="alert").close
                        span &times;
                    strong Warning 
                        span Not all fields are correct

                h2 Login
                p use your credentials to sign in. 
                    | Don't have an account? 
                    a(href="#") Register here

                .form-group.row.has-success
                    label.col-md-3.col-sm-12.col-form-label(for="#input-1") Username
                    .col-md-9.col-sm-12
                        input.form-control(type="text" placeholder="Username" id="input-1").form-control-success
                    .form-control-feedback.col.offset-3 Username available

                .form-group.row.has-danger
                    label.col-md-3.col-sm-12.col-form-label(for="#input-2") Password
                    .col-md-9.col-sm-12
                        input.form-control(type="text" placeholder="Password" id="input-1").form-control-danger
                    .form-control-feedback.col.offset-3 Password was incorrect

                .form-group-row.row
                    .col
                        button(type="submit").btn.btn-primary Sign In