section.container
    nav
        ul.pagination.justify-content-center
            li.page-item
                a(href="#").page-link
                    span &laquo;
            li.page-item
                a(href="#").page-link 1
            li.page-item
                a(href="#").page-link 2
            li.page-item
                a(href="#").page-link 3
            li.page-item.disabled
                a(href="#").page-link ...
            li.page-item
                a(href="#").page-link 214
            li.page-item
                a(href="#").page-link
                    span &raquo;