- var loggedIn = true;

doctype

html
    head
        include head

        link(href="static/style/bootstrap.min.css" rel="stylesheet")
        link(href="static/style/bootstrap-slider.min.css" rel="stylesheet")
        link(href="static/style/main.css" rel="stylesheet")

    body
        include header

        block content

        include footer

    script(src="static/js/jquery-3.2.1.min.js")
    script(src="static/js/createjs-2015.11.26.min.js")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/bootstrap-slider.min.js")
