nav.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top(style="background-image:url('')")
    .container
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-expanded="false", aria-controls="navbarNavDropdown")
            span.navbar-toggler-icon
        a.navbar-brand(href="#")
            img(src="http://via.placeholder.com/40x40", alt="", width=40, height=40)
        .collapse.navbar-collapse(id="navbarNavDropdown")
            ul.navbar-nav
                li.nav-item
                    a(href="#").nav-link.active Home
                li.nav-item
                    a(href="#").nav-link Users
                li.nav-item
                    a(href="#").nav-link Beatmaps
                li.nav-item
                    a(href="#").nav-link Skins

            if loggedIn
                ul.navbar-nav.user-box
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdownMenuLink", data-toggle="dropdown", aria-expanded="false", aria-haspopup="true")
                            img(src="http://via.placeholder.com/30x30", alt="", width=30, height=30).user-icon
                            span Arthesian
                        .dropdown-menu(aria-abelledby="navbarDropdownMenuLink").user-menu
                            a.dropdown-item(href="#") Logout

            else
                ul.navbar-nav.user-box
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdownMenuLink", data-toggle="dropdown", aria-expanded="false", aria-haspopup="true")
                            span Guest
                        .dropdown-menu(aria-abelledby="navbarDropdownMenuLink").user-menu
                            a.dropdown-item(href="#") Login
                            .dropdown-divider
                            a.dropdown-item(href="#") Register