.form {
    .wrap {
        display: block;
    }
    &__input {
        line-height: 30px;
        background: #eee;
        border-radius: 3px;
        border: 1px solid transparent;
        &--textbox {}
        &--checkbox {}
        &--password {}
        &--submit {
            background-color: #09f;
            color: white;
        }
        &.input-validation-error {
            border: 1px solid red;
            background-color: rgba(255, 0, 0, 0.2);
        }
    }
    &.field-validation-error {
        color: red;
    }
    &__label {
        color: #333;
        line-height: 30px;
        font-size: 16px;
    }
}