.navbar {
    background-color: #09f;
    background-size: cover;
    background-position: center;
    &:before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.nav-link {
    line-height: 30px;
}

.user-box {
    margin-left: auto;
}

.user-menu {
    left: unset;
    right: 0;
}

.user-icon {
    margin-right: 10px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #09f;
    color: #ccc;
    transition: all 0.2s linear;
    text-align: center;
    padding: 5px 10px;
    &:hover {
        background-color: #07f;
        color: #eee;
    }
    &--logout {
        background-color: #A22;
        &:hover {
            background-color: #C22;
        }
    }
}